In [6]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [7]:
def capitalizeWord(str):
   result=""
   words = str.split(" ")
   for word in words:
      result= result + word[0:1].upper() + word[1:len(x)] + " "
   return result

In [8]:
""" Converting function to UDF """
capitalizeWordUDF = udf(lambda z: capitalizeWord(z),StringType())

In [ ]:
df.select(col("ID_COLUMN"), convertUDF(col("NAME_COLUMN")).alias("NAME_COLUMN") ).show(truncate=False)

In [19]:
data = [('Harry', 20),
       ('Ron', 20),
       ('Hermoine', 20)]
columns = ["Name","Age"]
df = spark.createDataFrame(data=data, schema = columns)

In [20]:
df

DataFrame[Name: string, Age: bigint]

In [21]:
df.show(10,False)

+--------+---+
|Name    |Age|
+--------+---+
|Harry   |20 |
|Ron     |20 |
|Hermoine|20 |
+--------+---+